<!-- Waiting time statistics -->
<div id="hw-spot-waitingtimes-{{id}}" class="hw-spot-waiting-times">
  {{#if waiting_times && waiting_times_distribution}}
  <div class="hw-bar-graph-details">
    <span class="hw-bar-1 hw-graph-bar" style="width: {{Math.floor10(waiting_times_distribution.0.percentage, -2) || 0}}%;"></span>
    <span class="hw-bar-2 hw-graph-bar" style="width: {{Math.floor10(waiting_times_distribution.1.percentage, -2) || 0}}%;"></span>
    <span class="hw-bar-3 hw-graph-bar" style="width: {{Math.floor10(waiting_times_distribution.2.percentage, -2) || 0}}%;"></span>
    <span class="hw-bar-4 hw-graph-bar" style="width: {{Math.floor10(waiting_times_distribution.3.percentage, -2) || 0}}%;"></span>
    <table class="hw-distribution-details">
      <tr>
        <td><span class="hw-bubble hw-bubble-good"></span> &#60; 15 minutes</td>
        <td>{{Math.floor(waiting_times_distribution.0.percentage) || 0}}% ({{waiting_times_distribution.0.count || 0}})</td>
      </tr>
      <tr>
        <td><span class="hw-bubble hw-bubble-average"></span> &#60; 30 minutes</td>
        <td>{{Math.floor(waiting_times_distribution.1.percentage) || 0}}% ({{waiting_times_distribution.1.count || 0}})</td>
      </tr>
      <tr>
        <td><span class="hw-bubble hw-bubble-bad"></span> &#60; 60 minutes</td>
        <td>{{Math.floor(waiting_times_distribution.2.percentage) || 0}}% ({{waiting_times_distribution.2.count || 0}})</td>
      </tr>
      <tr>
        <td><span class="hw-bubble hw-bubble-senseless"></span> 1h +</td>
        <td>{{Math.floor(waiting_times_distribution.3.percentage) || 0}}% ({{waiting_times_distribution.3.count || 0}})</td>
      </tr>
    </table>
  </div>
  <div class="hw-stats-list">
    <table class="hw-stats-list-table">
      {{#waiting_times}}
      <tr>
        <td>
          {{#if Math.floor(waiting_time / 60)}}
            <!-- 1+ Hours -->
            {{Math.floor(waiting_time / 60)}} h
          {{/if}}
          {{#if waiting_time % 60}}
            <!-- 1+ minutes -->
            {{waiting_time % 60}} min
          {{else}}
            <!-- Zero minutes -->
            {{waiting_time}} min
          {{/if}}
        </td>
        <td>{{user_name}}</td>
        <td>{{timestamp_label}}</td>
        <td>
          {{#if user_id == userId}}
            <i onclick="mw.HWMaps.Waitingtimes.uiDeleteWaitingTime('{{waiting_time_id}}', '{{id}}', '{{@keypath}}')"
               class="fa fa-trash hw-stats-list-delete"></i>
          {{/if}}
        </td>
      </tr>
      {{/waiting_times}}
    </table>
  </div>
  {{else}}
    <p><em>No rating statistics.</em></p>
  {{/if}}
</div>
<!-- /Waiting time statistics -->
