<!-- Spots -->
{{#if hasSpots}}
  <!-- Cardinal directions -->
  {{#spots.groupSpots:cardinalDirection}}

  <!-- Cardinal direction title (North, South...) -->
  <div class="visualClear" id="{{slugify(cardinalDirection)}}">
    <h3 class="hw-cardinal-direction">
      <a href="#{{slugify(cardinalDirection)}}">
        <i class="fa fa-location-arrow"></i>
        {{cardinalDirection}}
      </a>
    </h3>
  </div>

  {{#this:index}}
  <!-- Spot -->

  <div id="hw-spot_{{id}}"
       class="hw-spot hw-spot-rating-average-{{rating_average}}"
       class-hw-spot-is-minimized="{{rating_average < 3 && !_isBadSpotVisible}}">

    <!-- Spot main -->
    <!-- Contains `hw-spot-meta` and `hw-spot-content` -->
    <!-- `hw-spot-statistics` and `hw-spot-comments` are after this element -->
    <div class="hw-spot-main">

      <!-- Spot meta -->
      <div class="hw-spot-meta">

          <!-- Ratings -->
          <div class="hw-ratings">
            {{>ratingsTemplate}}
          </div>
          <!-- /Ratings -->

          <!-- Waiting times -->
          <div class="hw-waiting-time">
            {{>waitingTimesTemplate}}
          </div>
          <!-- /Waiting times -->

          <!-- Buttons -->
          <div class="hw-spot-actions">

            {{#if rating_count || waiting_time_count}}
            <button onclick="mw.HWMaps.Spots.loadStatistics('{{id}}', 'hw-stats-button-{{id}}', '{{@keypath}}')"
                    type="button"
                    id="hw-stats-button-{{id}}"
                    class="hw-button hw-button-small">
              <i class="fa fa-bar-chart"></i>
              Stats
            </button>
            {{/if}}

            <button type="button"
                    class="hw-button hw-button-small"
                    id="hw-comments-button-{{id}}"
                    onclick="mw.HWMaps.City.loadComments('{{id}}', '{{@keypath}}')">
              <i class="fa fa-comment-o"></i>
              {{#if comment_count > 0}}
                Comments ({{comment_count}})
              {{else}}
                Write a comment
              {{/if}}
            </button>

            <button type="button"
                    class="hw-button hw-button-small"
                    onclick="mw.HWMaps.City.moveMapToSpot('{{location.lat}}', '{{location.lon}}', '{{id}}')">
              <i class="fa fa-map-marker"></i>
              Show on map
            </button>

            <button type="button"
                    class="hw-button hw-button-small"
                    onclick="mw.HWMaps.Spots.openStreetView('{{location.lat}}', '{{location.lon}}')">
              <i class="fa fa-map-marker"></i>
              Street view
            </button>

            {{#if userId}}
            <button type="button"
                    class="hw-button hw-button-small hw-spot-edit-button"
                    onclick="mw.HWMaps.City.editSpot('{{title}}')">
              <i class="fa fa-edit"></i>
              Edit
            </button>
            {{/if}}

          </div>
          <!-- /Action Buttons -->

      </div>
      <!-- /Spot meta -->

      <!-- Spot content -->
      <div class="hw-spot-content">

        <!-- Spot content header -->
        {{#if CitiesDirection || RoadsDirection}}
        <div class="hw-spot-content-header">
          {{#if CitiesDirection}}
            Towards
            {{#CitiesDirection:i}}{{#if i > 0}},&nbsp;{{/if}}<a href="{{this}}">{{this}}</a>{{/CitiesDirection}}
          {{/if}}
          {{#if CitiesDirection && RoadsDirection}} &bull; {{/if}}
          {{#if RoadsDirection}}
            Roads
            {{#RoadsDirection:i}}{{#if i > 0}},&nbsp;{{/if}}<a href="{{this}}">{{this}}</a>{{/RoadsDirection}}
          {{/if}}
        </div>
        {{/if}}
        <!-- /Spot content header -->

        <!-- Toggle -->
        {{#if rating_average < 3 && !_isBadSpotVisible}}
          <strong class="hw-spot-title"><em>Hitchability: {{average_label}}</em></strong>
          <!--
            If spot is bad, it's minimized so it wouldn't take space.
            Use this to toggle it open again.

            Can be toggled also using `mw.HWMaps.City.toggleBadSpot()`
          -->
          <label class="hw-switch hw-switch-right pull-right">
            Show details
            <input type="checkbox" checked="{{_isBadSpotVisible}}">
            <div class="toggle"></div>
          </label>
        {{/if}}
        <!-- /Toggle -->

        <!-- Spot description -->
        <div class="hw-spot-description">
        {{#if Description}}
          {{#if Description.length > 500 && !_isLongDescriptionVisible}}
            <div class="hw-spot-description-long">
              {{{Description}}}
            </div>
            <button type="button"
                    class="hw-button hw-button-small"
                    onclick="mw.HWMaps.City.toggleLongDescription('{{@keypath}}')">
              {{../../strings.readmore}}
            </button>
          {{else}}
            {{{Description}}}
          {{/if}}
        {{else}}
          <p><a href="#" class="hw-spot-edit-button" onclick="mw.HWMaps.City.editSpot('{{title}}')">>Write a description</a> for this spot?</p>
        {{/if}}
        </div>
        <!-- /Spot description -->

      </div>
      <!-- /Spot content -->

    </div>
    <!-- /Spot-main -->

    <!-- Statistics -->
    {{#if _isStatisticsVisible}}
    <div class="hw-spot-statistics">
      {{>statsWaitingtimesTemplate}}
      {{>statsRatingsTemplate}}
    </div>
    {{/if}}
    <!-- /Statistics -->

    {{#if _isCommentsVisible}}
      {{>commentsTemplate}}
    {{/if}}

  </div>
  <!-- /Spot -->
  {{/this}}

  {{/spots.groupSpots}}
  <!-- /Cardinal directions -->

<!-- /Spots -->
<!-- No spots -->
{{else}}
  <div class="hw-spots-none">
  <p>
    <em>
      {{../strings.noSpots}}
      <br><br>
      You might want to check the <a href="{{hwMapUrl}}">main map</a> in case
      or <a href="{{hwMapAddUrl}}">add new hitchhiking spots</a>.
    </em>
  </p>
  </div>
{{/if}}
<!-- /No spots -->
