# Composer
composer.phar
composer.lock
public/composer
public/bin
node_modules/

# Vagrant files
.vagrant

# Folder created by Apache installer
/html

# Wiki
mediawiki-*.tar.gz
/public/mediawiki-*
/public/wiki

# Logs
logs
*.log

# Local configs
/configs/settings.ini
/configs/vagrant.yaml

# Other
/public/google*.html
/scripts/vendor/bash_ini_parser
/dumps/
*~

# Admin tools
/public/phpmyadmin
/public/sqlbuddy

# OS
.DS_STORE
