.DS_STORE

# Composer
composer.phar
composer.lock
public/composer

# Vagrant/Scotchbox
scotch-box
.vagrant

# Wiki
mediawiki-*.tar.gz
/public/mediawiki-*
/public/wiki

# Logs
logs
*.log

# Other
/public/google*.html
/scripts/vendor/bash_ini_parser
/configs/settings.ini
/dumps/
*~

# Admin tools
/public/phpmyadmin
/public/sqlbuddy
