# Composer
composer.phar
composer.lock
public/composer
public/bin
node_modules/

# Vagrant files
.vagrant

# Ansible
hosts
*.retry

# Folder created by Apache installer
/html

# Wiki
mediawiki-*.tar.gz
/public/mediawiki-*
/public/wiki

# Logs
logs
*.log

# Local configs
/configs/settings.yml
/configs/authorized_keys

# Other
/public/google*.html
/dumps/
*~

# Admin tools
/public/phpmyadmin
/public/mustangostang
/public/sqlbuddy

# OS
.DS_STORE
