# Custom 404 errors
ErrorDocument 404 /var/www/hitchwiki.org/htdocs/offline-maps/404.json

# Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

# Prevent directory listings
Options All -Indexes
